html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blueText {
  color: #436188;
}

.greenText {
  color: #69ad96;
}

.greenButton {
  background-color: #69ad96 !important;
  border-color: #69ad96 !important;
}

.greenButton:hover {
  background: #69ad96 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.greenButton:active {
  background: #69ad96 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.blueButton {
  background-color: #436188 !important;
  color: white !important;
  border-color: #436188 !important;
}

.blueButton:hover {
  background: #436188 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.blueButton:active {
  background: #436188 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

/**
 * Global override to center TabView
 */
.p-tabview .p-tabview-nav {
  justify-content: center !important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #436188;
  color: #436188;
}

.p-carousel-indicator.p-highlight > .p-link {
  background-color: #436188 !important;
}

/**
 * Global override for appointment card in carousel
 */
.p-fieldset .p-fieldset-content {
  padding: 1rem 0 !important;
}

.p-carousel .p-carousel-indicators {
  padding: 0.5rem !important;
}
