.container {
  padding: 0 0;
  background-color: #f7f7f7;
}

.main {
  min-height: 95vh;
  padding: 2rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.mobileFilter {
  display: none;
}

.label {
  margin-left: 20px;
}

.filterButton {
  margin-top: 1.5rem;
  background-color: #436188;
  color: white;
  border-color: #436188;
}

.filterButton:hover {
  background: #436188 !important;
  border-color: #436188 !important;
  opacity: 0.7;
}

.buttonList {
  margin: 20px 0;
}

.content {
  flex: 0 1 65%;
  height: 100%;
  border-color: black;
}

.h5Top {
  margin-top: 0;
}

.search {
  margin-bottom: 1rem;
}

.searchInputText {
  flex: 3 1 auto !important;
}

.dropdown {
  flex: 1 1 auto !important;
}

.searchButton {
  background-color: #436188;
  color: white;
  border-color: #436188;
}

.searchButton:hover {
  background: #436188 !important;
  border-color: #436188 !important;
  opacity: 0.7;
}

.mobileSearch {
  display: none;
}

.itemContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  height: 7rem;
}

.itemContainer:hover {
  /* May need to change because it does not match theme */
  background-color: #99afcb;
}

.itemText {
  padding: 0.5rem 0 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itemShopName {
  margin: 0;
}

.chip {
  background: #69ad96;
  color: white;
  margin-right: 5px;
}

.fullListChip {
  background: #436188;
  color: white;
}

.mobileData {
  display: none;
}

@media (max-width: 999px) {
  .main {
    flex-direction: column;
  }

  .filter {
    margin-bottom: 1rem;
  }

  .mobileFilter {
    display: block;
  }

  .desktopFilter {
    display: none;
  }

  .desktopSearch {
    display: none;
  }

  .mobileSearch {
    display: flex;
    flex-wrap: wrap;
  }

  .inputtext {
    flex-basis: 100% !important;
  }

  .itemContainer {
    padding: 0 1rem;
  }

  .itemText {
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .chip {
    zoom: 0.7;
    margin-right: 2px;
  }

  .fullListChip {
    zoom: 0.7;
  }

  .desktopData {
    display: none;
  }

  .mobileData {
    display: block;
  }
}

@media (min-width: 1000px) {
  .filter {
    flex: 0 1 28%;
    margin-right: 1rem;
    padding-right: 0.5rem;
    border-right: 2px solid #cccccc;
  }
}
