.appointmentCarouselCard {
  border: 1px solid var(--surface-d);
  border-radius: 40px;
  margin: 0.3rem;
  padding: 2rem 2rem;
  height: 95%;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
}

.appointmentCarouselCardPlaceholder {
  border: 1px solid var(--surface-d);
  border-radius: 40px;
  background-color: #f7f7f7;
  margin: 0.3rem;
  padding: 2rem 2rem;
  height: 95%;
}

.carouselFieldSet {
  margin-top: 30px;
  margin-bottom: 20px;
}

.appointmentCarouselCardContainer {
  height: 100%;
}

.appointmentCarouselCard:hover {
  background-color: #f7f7f7;
  border-color: #436188;
  opacity: 0.9;
}

.appointmentButtonRed {
  background-color: white;
  color: #ca3433;
  border-color: #ca3433;
  border-width: 3px;
}

.appointmentButtonRed:hover {
  background: #ca3433 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.appointmentButtonRed:active {
  background: #ca3433 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.grayText {
  color: gray;
}

@media (max-width: 500px) {
  .appointmentCarouselCard {
    max-width: 300px;
  }
}
