.appointmentRequestsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.appointmentRequestsCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5%;
}

.appointmentRequestsCard {
  border-radius: 5px;
  margin: 3%;
}

.floatRight {
  margin-top: 5%;
  float: right;
  width: 50%;
  text-align: right;
}

.floatLeft {
  display: inline-block;
}

.appointmentRequestsAcceptButton {
  width: 150px;
  height: 40px;
  margin: 2px;
  background-color: #69ad96;
  border-color: #69ad96;
}

.appointmentRequestsRejectButton {
  width: 150px;
  height: 40px;
  margin: 2px;
  background-color: white;
  color: #436188;
  border-color: #436188;
  border-width: 3px;
}

@media (max-width: 1000px) {
  .appointmentRequestsCard {
    width: 80%;
  }
}
