.appointmentRequestsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.appointmentRequestsCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5%;
}

.appointmentRequestsCard {
  background-color: rgba(232, 232, 232, 0.3);
  width: 50%;
  margin-top: 5%;
}

.appointmentRequestsAcceptButton {
  width: 150px;
  height: 40px;
  margin: 2px;
}

@media (max-width: 1000px) {
  .appointmentRequestsCard {
    width: 80%;
  }
}
