.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.authFormCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5%;
}

.authForm {
  padding-right: 10%;
  padding-left: 10%;
}

.authFormGroup {
  margin-right: 10%;
}

.authFormCard {
  background-color: rgba(232, 232, 232, 0.3);
  width: 50%;
  margin-top: 5%;
}

.authFormButton {
  width: 150px;
  height: 40px;
  margin: 2px;
}

.authFormInput {
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.authFormButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
