.addHoursOfOperationDialogContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.addHoursOfOperationDialogTitle {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.addHoursOfOperationDialogDayText {
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
}

.addHoursOfOperationDialogFormLabel {
  font-size: medium;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.submitHoursOfOperationButton {
  background-color: #69ad96;
  border-color: #69ad96;
  height: 55px;
  font-weight: bold;
  width: 100px;
  margin-top: 20px;
}

.submitHoursOfOperationButton:hover {
  background: #69ad96 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.operatingTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.openCalendarInput {
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .addHoursOfOperationDialogContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
