.dialogContainer {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  padding: 1rem 2rem;
  margin: auto;
}

.dialogDropdown {
  margin-bottom: 5rem;
}

.dialogButton {
  max-width: fit-content;
  margin: auto;
}

@media (min-width: 500px) {
  .requestDialog {
    width: 50vw;
  }
}

@media (max-width: 500px) {
  .requestDialog {
    width: 80vw;
  }

  .dialogContainer {
    max-width: 100%;
  }
}
