.loginBtn {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  margin-right: 0.5em;
}

.loginBtn:hover {
  background: #e9ecef !important;
  border-color: transparent !important;
  color: #436188 !important;
}

.menuBar {
  background-color: white;
  width: 100%;
}

.shopLoginBtn {
  background-color: #69ad96;
  border-color: transparent;
}

.shopLoginBtn:hover {
  background: #69ad96 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.shopLoginBtn:active {
  background: #69ad96 !important;
  border-color: transparent !important;
  opacity: 0.7;
}

.mobile {
  display: none;
}

.customMenuItemButton {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  color: #495057;
  line-height: 1;
}

.customMenuItemButton:hover {
  background: #e9ecef !important;
  border-color: transparent !important;
  color: #495057 !important;
}

@media (max-width: 1000px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
  }
}
