.chat {
    flex: 6 1 auto;
}

.container {
    display: flex;
}

.conversationList {
    flex: 1 1 auto;
}

.h2 {
    color: #436188;
    margin: 0px;
}

.hr {
    height: 3px;
    background-color: #436188;
}