.workOrderMetadataDialogContainer {
  width: 30rem;
}

.workOrderMetadataDialogFooterContainer {
  display: flex;
  justify-content: center;
}

.workOrderMetadataDialogFooterContainerButtons {
  min-width: 10rem !important;
}

.workOrderMetadataDialogTitleTextBox {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.workOrderMetadataDialogEmployeeEmailTextBox {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.workOrderMetadataDialogStatusSelector {
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .workOrderMetadataDialogContainer {
    width: 80vw;
  }

  .workOrderMetadataDialogFooterContainer {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .workOrderMetadataDialogFooterContainerButtons {
    width: 100% !important;
  }
}
