.chatTitle {
  display: flex;
  flex-direction: row;
  background-color: #cccccc;
  padding-left: 2rem;
  border-radius: 5px;
  height: 70px;
  margin-bottom: 20px;
}

.chatContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.span {
  margin-left: 2rem;
  align-items: center;
  max-width: 60vw;
  display: flex;
  font-size: large;
  font-weight: bold;
  min-width: fit-content;
}

.inviteDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 1rem;
}

.inviteButton {
  padding: 0;
  margin: 1rem;
}

.dialog {
  width: 80vw;
}

.dialogInputCol {
  display: flex;
  flex-direction: column;
}

.dialogInputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invitationButton {
  margin-top: 2rem;
}

.mobileImage {
  display: none;
}

@media (min-width: 1000px) {
  .fill {
    flex-basis: 40%;
  }

  .maxWidth {
    width: 100%;
  }
}

@media (max-width: 999px) {
  .dialogInputRow {
    flex-direction: column;
    align-self: center;
  }

  .chatTitle {
    padding: 0.5rem;
  }

  .span {
    margin: 0;
    font-size: medium;
  }

  .mobileImage {
    align-self: center;
    display: inline;
    font-size: 2em;
  }

  .inviteDiv {
    padding-right: 0.5rem;
    align-items: center;
  }

  .inviteButton {
    margin: 0;
    width: 1.5rem !important;
    height: 2.2rem !important;
  }
}
