.noChatContainer {
    height: 80%;
}

.noChatContent {
    height: 80%;
    padding: 0 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}